aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
motor
pillow
psutil
pytgcalls==2.1.0
pyrogram==2.0.106
python-dotenv
pyyaml
requests
spotipy
tgcrypto
yt-dlp
youtube-search-python
telegraph
pytz
